<ul class="icon-list">
    <li><img src="{{ site.baseurl }}/assets/images/icono_basura.png" alt="Basura"> Mantén el sendero limpio: lleva contigo tus residuos.</li>
    <li><img src="{{ site.baseurl }}/assets/images/icono_fuego.png" alt="Fuego"> No se permite encender fuego.</li>
    <li><img src="{{ site.baseurl }}/assets/images/icono_fauna.png" alt="Fauna"> Respeta la flora y fauna: no dejes rastro.</li>
    <li><img src="{{ site.baseurl }}/assets/images/icono_direccion.png" alt="Dirección"> Sigue las señales y marcas en los senderos.</li>
</ul>
