{% assign count = 0 %}
<section id="one" class="tiles">
  {% for slug in site.navigation %}
    {% assign tile = site.pages | where: "slug", slug | first %}
    {% if tile and tile.show_tile != false and count < site.tiles-count %}
      {% assign count = count | plus: 1 %}
  <article{% if tile.accent %} class="{{ tile.accent }}"{% endif %}>
    <span class="image">
      <img src="{{ tile.image }}" alt="{{ tile.title }}" />
    </span>
    <header class="major">
      <h3><a href="{{ tile.url | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
    {% endif %}
  {% endfor %}
</section>
